<h1>{{ title }}</h1>
<h3>Thesis Subject</h3>
<hr />

<form [formGroup]="thesisSubjectForm" (ngSubmit)="save()">
    

    <div class="form-group row">
        <label class="control-label col-md-12">Subject</label>
        <div class="col-md-4">
            <input formControlName="subject" style="width:415px"/>
        </div>
        <span class="text-danger" *ngIf="
        (registerFormControl.subject.touched || submitted) &&
        registerFormControl.subject.errors?.required
      ">
            Subject is required.
        </span>
    </div>


    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        &nbsp;
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>
