<h1>{{ title }}</h1>
<h3>Thesis Keyword</h3>
<hr />

<form [formGroup]="thesisKeywordForm" (ngSubmit)="save()">
    

    <div class="form-group row">
        <label class="control-label col-md-12">Keyword</label>
        <div class="col-md-4">
            <input formControlName="keyword" style="width:415px"/>
        </div>
        <span class="text-danger" *ngIf="
        (registerFormControl.keyword.touched || submitted) &&
        registerFormControl.keyword.errors?.required
      ">
            Keyword is required.
        </span>
    </div>


    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        &nbsp;
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>
